# Use index.php as default
DirectoryIndex index.php

# Prevent access to sensitive files
<FilesMatch "(\.git|\.env|connection\.php|deploy\.yml)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable directory listing
Options -Indexes

# Enable PHP execution
AddType application/x-httpd-php .php
